# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
.ipynb_checkpoints
venv
my_env/
cv/
data/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

## Directory-based project format
.idea/

## File-based project format
*.ipr
*.iml
*.iws

data/model.*
ningen_shikkaku*
.envrc
test.txt
chainer-natual-language-processing.ipynb.org
*.*~
CoreNLP
kytea
stanford-corenlp-full-2013-06-20
source_tmp.txt
target_tmp.txt
build
machine_translation.ipynb.bk
*.021
EncoderDecoderModel_execute.py
core_nlp_parse.pyx
core_execute.py
user.properties
ChainerMachineTranslation*
Py-StackExchange
jawiki-latest-all-titles-in-ns0*
data
data/*
data_bk
data_bk/*
word2vec.model*
test.txt
requests-oauthlib
*.yml
replay_twitter_data*
source_twitter_data*
*.log
.envrc
mecab-python*
twitter_data.db
source_twitter_data.txt
replay_twitter_data.txt
cron/*
ChainerDialogue*
model_word_match/
model_word_match/*
Data/*
Data
data_word_match
data_word_match/*
#Mecab
mecab-0.996
mecab-0.996/*
mecab-ipadic-2.7.0-20070801
mecab-ipadic-2.7.0-20070801/*
.vagrant/*
.vagrant
*.retry
data_latest
*.json
*.gz
