numpy==1.11.0
ipython==4.2.0
notebook==4.2.0
jinja2==2.8
pyzmq==15.2.0
tornado==4.3
cython==0.24
gensim==0.12.4
PyYAML==3.11
requests==2.8.1
requests_oauthlib==0.6.1
future==0.15.2
websocket-client==0.37.0
beautifulsoup4==4.5.1